li {
  margin-top: 8px;
}

li.post-title {
  cursor: pointer;
}

li.post-title:hover {
  opacity: 0.6;
}

div.pages {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header ul{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header ul > li {
  width: 150px;
  list-style: none;
}

.header ul > li > a{
  color: black;
  text-decoration: none;
}